@import "setup/_mixins.scss";
@import "setup/_variables.scss";

body {
  background: $bodyback-color;
  margin: 0;
  color: $text-color;
  font-size: 16px;
}

#app {
  height: 100vh;
}

@import "layout.scss";
